<footer class="footer">
    <div class="shop-message">
        <p>
            En AnimeShop , nos apasiona llevarte lo mejor del mundo del anime y manga. Desde figuras coleccionables, ropa temática, accesorios únicos, hasta artículos exclusivos de tus series favoritas, estamos aquí para que tu colección sea tan épica como tus personajes preferidos. <br><br><strong>© 2024 AnimeShop</strong></p>
    </div>
    <div class="icon_container">
        <ul>
            <li><img src="icons/facebook.png" alt=""></li>
            <li><img src="icons/instagram.png" alt=""></li>
            <li><img src="icons/youtube.png" alt=""></li>
        </ul>
    </div>
</footer>